@import '../../styles/colors';

.table th {
  border-top: 0;
  color: $muted-light-text;
}

.table td, .table th {
  padding: 0.20rem;
  vertical-align: middle;
  height: 60px;
}

.table {
  margin-bottom: 0;
}