@import '../../styles/colors';

.sidebar {
		overflow-x: hidden;
		width: 20rem;
		height: 100%;
		border-right: 1px solid $border-color;
		z-index: 100;
		color: $primary-text;

		.navbar-border {
			border-bottom: 1px solid $border-color;
			display: flex;
			justify-content: center;
			height: 50px;

			.logo {
				height: 25px;
			}
		}

		.user-profile {
			text-align: center;
			padding: 25px;

			img {
				border-radius: 50%;
				width: 80px;
			}

			h3 {
				color: $primary-text;
				margin: 0;
				font-size: 1.4rem;
			}

			p {
				color: $muted-light-text;
				font-size: 1rem;
				text-transform: capitalize;
				margin-bottom: 0;
			}
		}

		ul {
			padding: 0 20px;
		}

		a {
			color: inherit;
			font-size: 1rem;
			display: flex;
			align-items: center;
			transition: all 0.3s;

			&:visited {
				color: inherit;
			}

			&:hover {
				text-decoration: none;
				color: $primary-color;
			}
		}

		.list-group-item {
			padding: 1em;
			border-right: 0;
			border-left: 0;

			&:last-child {
				border-radius: 0;
			}

			&:first-child {
				border-radius: 0;
			}

			.icon {
				width: 20px;
				margin-right: 15px;
			}

			ul {
				list-style-type: none;
			}

			.subtab-item {
					padding: 10px 15px;
			}

			.active {
					color: $primary-color;
					border-color: $border-color;
					font-weight: bold;
					margin-top: 0;

				.icon {
					color: $primary-color;
				}
			}

		}

		.recently-viewed-tabs {
			list-style-type: none;

			.recently-viewed-title {
				color: $muted-light-text;
				text-transform: uppercase;
				font-weight: bold;
				font-size: 1rem;
				margin-top: 0.5em;
			}

			li {
				padding: 0.5em 1em;
			}
		}

		// .active {
		// 	.subtab-item {
		// 		color: $primary-color;
		// 		background-color: $primary-background-light;
		// 		border-color: $border-color;
		// 		font-weight: bold;
		// 		margin-top: 0;
		// 		border-left: 3px solid #5330b9;
		// 	}

		// 	.icon {
		// 		color: $primary-color;
		// 	}
		// }

		.subtab {
			// margin-left: 2rem;
			margin-top: 5px;
		}
	
}
